article {
	margin: 5%;
	margin-left: 2.5%;
	padding: 16px;
	width: 65%;
	box-shadow: 0px 0px 5px rgb(50, 50, 50);
	text-align: left;
	background-color: #ffffff;
}

.post-headline {
	text-align: inherit;
	font-size: 200%;
}

.post-text {
	text-align: inherit;
}

aside {
	float: right;
	margin: 5%;
	margin-right: 2.5%;
	width: 20%;
	height: 100%;
}

section.side {
	min-width: 180px;
	min-height: 64px;
	margin-bottom: 20%;
	background: #ffffff;
	box-shadow: 0px 0px 5px rgb(50, 50, 50);
}

.window {
	position: fixed;
	padding: 5px;
	width: 500px;
	height: 300px;
	background-color: #ffffff;
	box-shadow: 0px 0px 5px rgb(50, 50, 50);
}

.dropdown {
	position: relative;
	display: inline-block;
	margin-top: 10px;
	padding: 5px;
	box-shadow: 0px 0px 3px rgb(50, 50, 50);
	background-color: #4CAF50;
	font-weight: bold;
}

.dropdown-content {
	display: none;
	position: absolute;
	left: 0;
	top: 100%;
	width: 100%;
	background-color: #4CAF50;
	box-shadow: 0px 0px 3px rgb(50, 50, 50);
	z-index: 1;
}

.dropdown-button {
	background-color: #4CAF50;
	padding: 5px;
}

.dropdown-button:hover {
	background-color: #8DCF82;
}

.dropdown:hover .dropdown-content {
	display: block;
}