* {
	margin: 0px;
	border: 0px;
	padding: 0px;
	outline: 0px;
	font-size: 100%;
	text-align: center;
	background: transparent;
}

body {
	font-family: "Source Sans Pro", sans-serif !important;
	color: #000000;
	background-color: #000000;
	background-image: -moz-linear-gradient(#101020, #333344);
	background-image: -webkit-linear-gradient(#101020, #333344);
	background-image: -o-linear-gradient(#101020, #333344);
	height: 1200px;
}

#head {
	min-width: 400px;
	width: 100%;
	height: 64px;
	background-color: white;
	box-shadow: 0px 0px 10px rgb(50, 50, 50);
	position: fixed;
	top: 0px;
}

.redb {
	background-color: rgb(200, 50, 50);
}

.orangeb {
	background-color: rgb(200, 100, 50);
}

.yellowb {
	background-color: rgb(200, 200, 50);
}

.greenb {
	background-color: rgb(50, 200, 50);
}

.blueb {
	background-color: rgb(50, 50, 200);
}

#page {
	min-width: 400px;
	min-height: 1200px;
	padding-top: 4%;
	background-color: #dddddd;
}

#banner {
	width: 100%;
	height: 320px;
	max-height: 320px;
	background-image: url("../images/banner.jpg");
	background-size: 100%;
}

ul.menu {
	margin: 0px;
	padding: 0px;
	width: 100%;
	height: 64px;
	list-style-type: none;
	overflow: hidden;
	background-color: black;
}

li.button {
	width: 20%;
	float: left;
	list-style-type: none;
}

li.button a.button {
	display: block;
	height: 64px;
	text-shadow: 2px 2px 10px rgb(50, 50, 50);
	text-decoration: none;
	font-size: 150%;
	padding: 14px 16px;
	color: white;
}

#donate {
	background-color: #4CAF50;
	padding: 5px;
	box-shadow: 0px 0px 3px rgb(50, 50, 50);
}

#donate_window {
	float: left;
	position: fixed;
	width: 100%;
	height: 100%;
	left: 0px;
	top: 0px;
	background-color: rgba(0, 0, 0, 0.5);
}

footer {
	color: white;
	text-align: left;
	padding: 20px;
	height: 80px;
}